* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #fff;
}

header h1 .seo {
    color: #f3c90f;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover { 
    color: #f3c90f; 
}

#hero {
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.services-main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    background-color: #2a607c;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
}

.services-box {
    margin-bottom: 25px;
    padding: 60px 15px 0 15px;
    height: 325px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    color: #000;
}

.services-box h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #2a607c;
}
.services-box img {
    max-height: 200px;
}

/*-- float left/right are for services-box images --*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.services-box p {
    font-size: 22px;
    line-height: 1.5em;
}

.benefits-panel {
    margin-right: 20px;
    padding: 20px 20px 0px 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    border-radius: 10px;
}

.benefits-box {
    margin-bottom: 25px;
    color: #000;
    background-color: #fff;
    padding: 15px;
    height: 325px;
}

.benefits-box h3 {
    text-align: center;
    color: #2a607c;
}

.benefits-box img {
    display: block;
    margin: auto;
    max-width: 150px;
}

.benefits-box p {
    font-size: 18px;
    line-height: 1.25em;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 250px;
}

footer h2 {
    font-size: 20px;
}
